<!DOCTYPE html>

html(lang="ru")
	include /header.jade
	section
		div.content
			article.article-item
				a.title 
					h3 10 Grammatical Errors That Damage Credibility and How to Fix Them
				div.post
					img(src="/img/pic_1.jpg")
					p				 
						| 
	include /footer.jade