<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Blog
	link(rel='stylesheet', href='/styles.css')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
body
	div.wrapper
		header.top
			a.top-item(href="http://google.com")
				img.logo(src="/img/logo.png" alt="Блог")
			div.top-item
				div.search-container
					input(type="search" id="search" placeholder="Поиск")
				div.menu
					button Кнопка 1
					button Кнопка 2
					button Кнопка 3
					button Кнопка 4
		section
			div.content
				article.article-item
					a.title 10 Grammatical Errors That Damage Credibility and How to Fix Them
					div.post				 
						| FFFFFFF
		footer