<!DOCTYPE html>
html(lang="ru")
head
	meta(charset="UTF-8")
	title Blog
	link(rel='stylesheet', href='/styles.css')
body
	div.wrapper
		header.top
			a.top-item(href="http://google.com") Ссылка
			nav.top-item
				button Кнопка 1
		div.conteiner
		footer