head
	meta(charset="UTF-8")
	title Blog
	link(rel='stylesheet', href='/styles.css')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", rel="stylesheet")
body
	div.wrapper
		header.top
			a.top-item(href="http://google.com")
				img.logo(src="" alt="ЛОГОТИП") 
			div.top-item
				div.search-container
					input(type="search" placeholder="Поиск").search 
				nav.menu
					a(href="#").menu__a button 1				
					a(href="#").menu__a button 2				
					a(href="#").menu__a button 3				
					a(href="#").menu__a button 4